
.register-body {
    margin: 0;
    /* display: flex; */
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-image: url("https://images.pexels.com/photos/3063174/pexels-photo-3063174.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    /* background-image: linear-gradient(to top right, #015633, #68a954); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.register-div {

    height: 445px;
    width: 500px;
    background-color: transparent;
    color: white;
    border: solid white;
    border-width: 1px;
    border-radius: 12px;

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 40px;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;

    /* Not Working Properly!!!!!!! */
    position: absolute;
    left: 520px;
    top: 1000px;
    bottom: 1000px
}

.get-started-button {
    background-color: transparent;
    position: absolute;
    top: 66%;
    left: 81.3%;
    width: 10%;
    text-align: center;
    font-size: 18px;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.title-reg {
    position: absolute;
    top: 46%;
    /* right: 8.7%; */
    width: 100%;
    text-align: right;
    font-size: 56px;
    color: white;
    padding-right: 128px;
}

.sub-title-reg {
    position: absolute;
    top: 55.5%;
    /* right: 9%; */
    width: 100%;
    text-align: right;
    font-size: 20px;
    color: white;
    padding-right: 130px;
}

.pass {
    width: 77%;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    border-color: none;
    color: black;
}

.user {
    width: 77%;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    border-color: none;
    color: black;
}

#navbar {
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    text-align: left;
    transition: top 0.5s;
}

#profile-icon {
    color: black;
}

.active {
    background-color: white;
    color: black;
    /* border: 2px solid green; */
    padding: 10px 10px;
    text-align: center;
    position: relative;
    top: 15%;
    left:3%;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    font-weight: lighter;
    /* font-family: 'Courier New', Courier, monospace; */
    font-stretch: extra-expanded;
}

.profile {
    background-color: transparent;
    color: black;
    padding: 10px 10px;
    text-align: center;
    position: relative;
    top: 15%;
    left: 79%;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    font-weight: lighter;
    /* font-family: 'Courier New', Courier, monospace; */
    font-stretch: extra-expanded;
}

.get-started-button:hover {
    background-color: rgba(255, 255, 255, 0.167);
    color: white;
}

.empty-div {
    position: absolute;
    color: #151515;
    top: 1600px;
    right: 20px;
}

.link {
    color: white;
}

.reg-button {
    background-color: rgba(0, 128, 255, 0.627);
    color: rgba(255, 255, 255, 0.704);
    position: relative;
    top: 50px;
    border-radius: 6px;
}

.reg-button:hover {
    background-color: rgba(1, 97, 193, 0.633);
}

#user-label {
    text-align: left    ;
    color: rgba(128, 128, 128, 0.703);
    position: absolute;
    left: 19%;
}

#pass-label {
    text-align: left;
    color: rgba(128, 128, 128, 0.702);
    position: absolute;
    left: 19%;
}

#create-account-h1 {
    color: rgba(255, 255, 255, 0.914);
}